In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Read CSV created in notebook "corridors_census_2016.ipynb" and saved in "Resources" folder
# Save the data from the csv in a variable, "data_2016"
data_2016 = "./CSVs/CommCorr_Census_Stats_2016.csv"

In [3]:
# Create a dataframe ("df_2016") by reading the variable data from "data_2016"
df_2016 = pd.read_csv(data_2016)
df_2016.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. Black,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years
0,Highlandtown,10200,24510010200,3332.0,96171.0,43737.0,354.0,10.6,0.9,2242.0,...,393.0,21.0,246.0,29.0,2575.0,1119.0,322.0,436.0,2701.0,195.0
1,Brooklyn,20300,24510020300,3827.0,100778.0,80498.0,307.0,8.0,2.5,2901.0,...,69.0,198.0,280.0,233.0,1791.0,845.0,1205.0,191.0,3331.0,305.0
2,E Monument St,40100,24510040100,3868.0,55277.0,44017.0,1028.0,26.6,2.7,2506.0,...,575.0,96.0,288.0,786.0,183.0,115.0,2114.0,159.0,3608.0,101.0
3,Hamilton Lauraville,40200,24510040200,835.0,52361.0,20935.0,103.0,12.3,1.6,385.0,...,278.0,16.0,44.0,113.0,0.0,0.0,259.0,23.0,790.0,22.0
4,E Monument St,60200,24510060200,3198.0,65294.0,28985.0,757.0,23.7,6.9,1672.0,...,1340.0,141.0,505.0,7.0,1302.0,509.0,639.0,757.0,2240.0,201.0

In [12]:
# Add a column for the year "2016" and insert it in the dataframe
df_2016['Year']= "2016"
df_2016.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years,Year
0,Highlandtown,10200,24510010200,3332.0,96171.0,43737.0,354.0,10.6,0.9,2242.0,...,21.0,246.0,29.0,2575.0,1119.0,322.0,436.0,2701.0,195.0,2016
1,Brooklyn,20300,24510020300,3827.0,100778.0,80498.0,307.0,8.0,2.5,2901.0,...,198.0,280.0,233.0,1791.0,845.0,1205.0,191.0,3331.0,305.0,2016
2,E Monument St,40100,24510040100,3868.0,55277.0,44017.0,1028.0,26.6,2.7,2506.0,...,96.0,288.0,786.0,183.0,115.0,2114.0,159.0,3608.0,101.0,2016
3,Hamilton Lauraville,40200,24510040200,835.0,52361.0,20935.0,103.0,12.3,1.6,385.0,...,16.0,44.0,113.0,0.0,0.0,259.0,23.0,790.0,22.0,2016
4,E Monument St,60200,24510060200,3198.0,65294.0,28985.0,757.0,23.7,6.9,1672.0,...,141.0,505.0,7.0,1302.0,509.0,639.0,757.0,2240.0,201.0,2016

In [4]:
# Helpful website about working with data types: https://pbpython.com/pandas_dtypes.html
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 25 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Corridor                                        125 non-null    object
 1   Census_tract                                    125 non-null    int64
 2   GEOID                                           125 non-null    int64
 3   Population                                      125 non-null    float64
 4   Median household income                         125 non-null    float64
 5   Per capita income                               125 non-null    float64
 6   Poverty count                                   125 non-null    float64
 7   Poverty rate                                    125 non-null    float64
 8   Unemployment rate                               125 non-null    float64
 9   # employed, age 16+                             125 non-null    float64
 10  Unemployment count                              125 non-null    float64
 11  # persons age 25+ graduated high school         125 non-null    float64
 12  # persons age 25+ with Bachelor's degree        125 non-null    float64
 13  Median age                                      125 non-null    float64
 14  Pop. white                                      125 non-null    float64
 15  Pop. Black                                      125 non-null    float64
 16  Pop. 2 or more races                            125 non-null    float64
 17  Pop. Hispanic origin                            125 non-null    float64
 18  Pop. Asian                                      125 non-null    float64
 19  Total pop. in occupied housing units by tenure  125 non-null    float64
 20  Total owner-occupied units                      125 non-null    float64
 21  Total renter-occupied units                     125 non-null    float64
 22  Pop. <18 years                                  125 non-null    float64
 23  Pop. working age                                125 non-null    float64
 24  Pop. 65+ years                                  125 non-null    float64
dtypes: float64(22), int64(2), object(1)
memory usage: 24.5+ KB

In [5]:
# make sure that the GEOID is the same data type in each of the dataframes to be merged, by using .astype
#(int64 is a 64-bit integer, refers to how much storage needed for this datapoint)
pd.to_numeric(df_2016['Population'])
df_2016.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. Black,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years
0,Highlandtown,10200,24510010200,3332.0,96171.0,43737.0,354.0,10.6,0.9,2242.0,...,393.0,21.0,246.0,29.0,2575.0,1119.0,322.0,436.0,2701.0,195.0
1,Brooklyn,20300,24510020300,3827.0,100778.0,80498.0,307.0,8.0,2.5,2901.0,...,69.0,198.0,280.0,233.0,1791.0,845.0,1205.0,191.0,3331.0,305.0
2,E Monument St,40100,24510040100,3868.0,55277.0,44017.0,1028.0,26.6,2.7,2506.0,...,575.0,96.0,288.0,786.0,183.0,115.0,2114.0,159.0,3608.0,101.0
3,Hamilton Lauraville,40200,24510040200,835.0,52361.0,20935.0,103.0,12.3,1.6,385.0,...,278.0,16.0,44.0,113.0,0.0,0.0,259.0,23.0,790.0,22.0
4,E Monument St,60200,24510060200,3198.0,65294.0,28985.0,757.0,23.7,6.9,1672.0,...,1340.0,141.0,505.0,7.0,1302.0,509.0,639.0,757.0,2240.0,201.0

In [6]:
data_2017 = "./CSVs/CommCorr_Census_Stats_2017.csv"
df_2017 = pd.read_csv(data_2017)
df_2017.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. Black,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years
0,Highlandtown,10200,24510010200,3145.0,109102.0,52527.0,185.0,5.9,1.1,2327.0,...,164.0,58.0,66.0,138.0,2514.0,1133.0,304.0,367.0,2562.0,216.0
1,Brooklyn,20300,24510020300,3768.0,96667.0,84805.0,336.0,8.9,1.4,2822.0,...,84.0,240.0,337.0,287.0,1554.0,743.0,1367.0,207.0,3247.0,314.0
2,E Monument St,40100,24510040100,4007.0,61754.0,47181.0,1006.0,25.1,2.3,2659.0,...,564.0,57.0,276.0,948.0,299.0,195.0,2126.0,104.0,3795.0,108.0
3,Hamilton Lauraville,40200,24510040200,865.0,56250.0,18951.0,81.0,9.4,0.0,359.0,...,287.0,58.0,29.0,100.0,0.0,0.0,234.0,18.0,827.0,20.0
4,E Monument St,60200,24510060200,3075.0,66371.0,30821.0,633.0,20.6,5.9,1641.0,...,1295.0,139.0,396.0,30.0,1414.0,552.0,532.0,797.0,2083.0,195.0

In [13]:
df_2017['Year']= "2017"
df_2017.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years,Year
0,Highlandtown,10200,24510010200,3145.0,109102.0,52527.0,185.0,5.9,1.1,2327.0,...,58.0,66.0,138.0,2514.0,1133.0,304.0,367.0,2562.0,216.0,2017
1,Brooklyn,20300,24510020300,3768.0,96667.0,84805.0,336.0,8.9,1.4,2822.0,...,240.0,337.0,287.0,1554.0,743.0,1367.0,207.0,3247.0,314.0,2017
2,E Monument St,40100,24510040100,4007.0,61754.0,47181.0,1006.0,25.1,2.3,2659.0,...,57.0,276.0,948.0,299.0,195.0,2126.0,104.0,3795.0,108.0,2017
3,Hamilton Lauraville,40200,24510040200,865.0,56250.0,18951.0,81.0,9.4,0.0,359.0,...,58.0,29.0,100.0,0.0,0.0,234.0,18.0,827.0,20.0,2017
4,E Monument St,60200,24510060200,3075.0,66371.0,30821.0,633.0,20.6,5.9,1641.0,...,139.0,396.0,30.0,1414.0,552.0,532.0,797.0,2083.0,195.0,2017

In [7]:
data_2018 = "./CSVs/CommCorr_Census_Stats_2018.csv"
df_2018 = pd.read_csv(data_2018)
df_2018.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. Black,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years
0,Highlandtown,10200,24510010200,2869.0,107617.0,56058.0,169.0,5.9,1.0,2100.0,...,107.0,53.0,69.0,107.0,2332.0,1103.0,290.0,340.0,2300.0,229.0
1,Brooklyn,20300,24510020300,3877.0,108516.0,87413.0,359.0,9.3,1.4,2912.0,...,89.0,229.0,265.0,364.0,1687.0,793.0,1350.0,243.0,3317.0,317.0
2,E Monument St,40100,24510040100,4404.0,62500.0,49876.0,870.0,19.8,1.5,2863.0,...,894.0,243.0,380.0,913.0,270.0,193.0,2403.0,412.0,3887.0,105.0
3,Hamilton Lauraville,40200,24510040200,901.0,34375.0,16596.0,66.0,7.3,1.9,367.0,...,311.0,55.0,26.0,123.0,0.0,0.0,228.0,18.0,872.0,11.0
4,E Monument St,60200,24510060200,3241.0,72465.0,32023.0,864.0,26.7,4.5,1681.0,...,1370.0,96.0,430.0,58.0,1574.0,534.0,545.0,836.0,2226.0,179.0

In [15]:
df_2018['Year']= "2018"
df_2018.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years,Year
0,Highlandtown,10200,24510010200,2869.0,107617.0,56058.0,169.0,5.9,1.0,2100.0,...,53.0,69.0,107.0,2332.0,1103.0,290.0,340.0,2300.0,229.0,2018
1,Brooklyn,20300,24510020300,3877.0,108516.0,87413.0,359.0,9.3,1.4,2912.0,...,229.0,265.0,364.0,1687.0,793.0,1350.0,243.0,3317.0,317.0,2018
2,E Monument St,40100,24510040100,4404.0,62500.0,49876.0,870.0,19.8,1.5,2863.0,...,243.0,380.0,913.0,270.0,193.0,2403.0,412.0,3887.0,105.0,2018
3,Hamilton Lauraville,40200,24510040200,901.0,34375.0,16596.0,66.0,7.3,1.9,367.0,...,55.0,26.0,123.0,0.0,0.0,228.0,18.0,872.0,11.0,2018
4,E Monument St,60200,24510060200,3241.0,72465.0,32023.0,864.0,26.7,4.5,1681.0,...,96.0,430.0,58.0,1574.0,534.0,545.0,836.0,2226.0,179.0,2018

In [8]:
data_2019 = "./CSVs/CommCorr_Census_Stats_2019.csv"
df_2019 = pd.read_csv(data_2019)
df_2019.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. Black,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years
0,Highlandtown,10200,24510010200,2858.0,106250.0,57925.0,133.0,4.7,1.3,2086.0,...,128.0,72.0,92.0,126.0,2331.0,1118.0,293.0,324.0,2308.0,226.0
1,Brooklyn,20300,24510020300,3761.0,108026.0,83545.0,342.0,9.1,0.9,2985.0,...,138.0,224.0,263.0,308.0,1376.0,697.0,1455.0,214.0,3144.0,403.0
2,E Monument St,40100,24510040100,5051.0,64016.0,50026.0,626.0,12.4,1.9,3496.0,...,1532.0,298.0,501.0,866.0,322.0,230.0,2854.0,437.0,4444.0,170.0
3,Hamilton Lauraville,40200,24510040200,984.0,43417.0,19148.0,93.0,9.5,1.7,440.0,...,338.0,68.0,34.0,129.0,0.0,0.0,261.0,22.0,943.0,19.0
4,E Monument St,60200,24510060200,3037.0,69034.0,40668.0,1026.0,33.8,5.1,1516.0,...,1298.0,84.0,334.0,109.0,1547.0,578.0,505.0,771.0,2116.0,150.0

In [16]:
df_2019['Year']= "2019"
df_2019.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years,Year
0,Highlandtown,10200,24510010200,2858.0,106250.0,57925.0,133.0,4.7,1.3,2086.0,...,72.0,92.0,126.0,2331.0,1118.0,293.0,324.0,2308.0,226.0,2019
1,Brooklyn,20300,24510020300,3761.0,108026.0,83545.0,342.0,9.1,0.9,2985.0,...,224.0,263.0,308.0,1376.0,697.0,1455.0,214.0,3144.0,403.0,2019
2,E Monument St,40100,24510040100,5051.0,64016.0,50026.0,626.0,12.4,1.9,3496.0,...,298.0,501.0,866.0,322.0,230.0,2854.0,437.0,4444.0,170.0,2019
3,Hamilton Lauraville,40200,24510040200,984.0,43417.0,19148.0,93.0,9.5,1.7,440.0,...,68.0,34.0,129.0,0.0,0.0,261.0,22.0,943.0,19.0,2019
4,E Monument St,60200,24510060200,3037.0,69034.0,40668.0,1026.0,33.8,5.1,1516.0,...,84.0,334.0,109.0,1547.0,578.0,505.0,771.0,2116.0,150.0,2019

In [9]:
data_2020 = "./CSVs/CommCorr_Census_Stats_2020.csv"
df_2020 = pd.read_csv(data_2020)
df_2020.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. Black,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years
0,Highlandtown,10200,24510010200,2869.0,107617.0,56058.0,169.0,5.9,1.0,2100.0,...,107.0,53.0,69.0,107.0,2332.0,1103.0,290.0,340.0,2300.0,229.0
1,Brooklyn,20300,24510020300,3877.0,108516.0,87413.0,359.0,9.3,1.4,2912.0,...,89.0,229.0,265.0,364.0,1687.0,793.0,1350.0,243.0,3317.0,317.0
2,E Monument St,40100,24510040100,4404.0,62500.0,49876.0,870.0,19.8,1.5,2863.0,...,894.0,243.0,380.0,913.0,270.0,193.0,2403.0,412.0,3887.0,105.0
3,Hamilton Lauraville,40200,24510040200,901.0,34375.0,16596.0,66.0,7.3,1.9,367.0,...,311.0,55.0,26.0,123.0,0.0,0.0,228.0,18.0,872.0,11.0
4,E Monument St,60200,24510060200,3241.0,72465.0,32023.0,864.0,26.7,4.5,1681.0,...,1370.0,96.0,430.0,58.0,1574.0,534.0,545.0,836.0,2226.0,179.0

In [17]:
df_2020['Year']= "2020"
df_2020.head()

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years,Year
0,Highlandtown,10200,24510010200,2869.0,107617.0,56058.0,169.0,5.9,1.0,2100.0,...,53.0,69.0,107.0,2332.0,1103.0,290.0,340.0,2300.0,229.0,2020
1,Brooklyn,20300,24510020300,3877.0,108516.0,87413.0,359.0,9.3,1.4,2912.0,...,229.0,265.0,364.0,1687.0,793.0,1350.0,243.0,3317.0,317.0,2020
2,E Monument St,40100,24510040100,4404.0,62500.0,49876.0,870.0,19.8,1.5,2863.0,...,243.0,380.0,913.0,270.0,193.0,2403.0,412.0,3887.0,105.0,2020
3,Hamilton Lauraville,40200,24510040200,901.0,34375.0,16596.0,66.0,7.3,1.9,367.0,...,55.0,26.0,123.0,0.0,0.0,228.0,18.0,872.0,11.0,2020
4,E Monument St,60200,24510060200,3241.0,72465.0,32023.0,864.0,26.7,4.5,1681.0,...,96.0,430.0,58.0,1574.0,534.0,545.0,836.0,2226.0,179.0,2020

In [20]:
# Combine two data frames together
combined = [df_2016, df_2017, df_2018, df_2019, df_2020]
combined_df = pd.concat(combined)
combined_df

,Corridor,Census_tract,GEOID,Population,Median household income,Per capita income,Poverty count,Poverty rate,Unemployment rate,"# employed, age 16+",...,Pop. 2 or more races,Pop. Hispanic origin,Pop. Asian,Total pop. in occupied housing units by tenure,Total owner-occupied units,Total renter-occupied units,Pop. <18 years,Pop. working age,Pop. 65+ years,Year
0,Highlandtown,10200,24510010200,3332.0,96171.0,43737.0,354.0,10.6,0.9,2242.0,...,21.0,246.0,29.0,2575.0,1119.0,322.0,436.0,2701.0,195.0,2016
1,Brooklyn,20300,24510020300,3827.0,100778.0,80498.0,307.0,8.0,2.5,2901.0,...,198.0,280.0,233.0,1791.0,845.0,1205.0,191.0,3331.0,305.0,2016
2,E Monument St,40100,24510040100,3868.0,55277.0,44017.0,1028.0,26.6,2.7,2506.0,...,96.0,288.0,786.0,183.0,115.0,2114.0,159.0,3608.0,101.0,2016
3,Hamilton Lauraville,40200,24510040200,835.0,52361.0,20935.0,103.0,12.3,1.6,385.0,...,16.0,44.0,113.0,0.0,0.0,259.0,23.0,790.0,22.0,2016
4,E Monument St,60200,24510060200,3198.0,65294.0,28985.0,757.0,23.7,6.9,1672.0,...,141.0,505.0,7.0,1302.0,509.0,639.0,757.0,2240.0,201.0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,Waverly,280302,24510280302,2464.0,43438.0,25487.0,438.0,17.8,4.5,1207.0,...,168.0,14.0,7.0,869.0,309.0,690.0,619.0,1578.0,267.0,2020
121,Pimlico,280401,24510280401,3479.0,46139.0,28736.0,456.0,13.1,3.1,1608.0,...,132.0,62.0,16.0,2222.0,923.0,596.0,676.0,2220.0,583.0,2020
122,Pigtown,280402,24510280402,1634.0,48276.0,22145.0,219.0,13.4,6.9,752.0,...,1.0,24.0,0.0,1111.0,446.0,158.0,256.0,1057.0,321.0,2020
123,Belair Rd,280403,24510280403,5264.0,62945.0,37610.0,294.0,5.6,3.9,2801.0,...,56.0,136.0,37.0,2310.0,881.0,1259.0,1199.0,3409.0,656.0,2020
124,E Monument St,280404,24510280404,2812.0,37292.0,21545.0,737.0,26.2,4.5,1200.0,...,154.0,114.0,0.0,1244.0,390.0,655.0,654.0,1746.0,412.0,2020